@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

h1 {
    color: white;
}

body {
    line-height: 1;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,segoe ui,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
    color: #363636;
    margin:0;
    justify-content:center;
    align-items:center;
}

.container {
    max-width:680px;
    margin:0 auto;
    padding-bottom:20px;
}

.wrapper-normal {
    height:100%;
    width:96%;
    margin:0 auto;
    max-width:560px;
}

.page>h1 {
    text-align:center;
    margin-bottom:6rem
}

.home {
 margin-top:45px
}

.header-home {
    display:block;
    margin:0 auto;
    text-align:center;
    position:relative;
    z-index:99
}
.header-home>.link>.selfie {
    width:160px;
    margin-bottom:25px;
    border-radius:100%;
    transition:all .2s;
    box-shadow:0;
    opacity:1
}
.header-home>.link>.selfie:hover {
    box-shadow:0 0px 4px 0 rgba(0,0,0,0.18),0 0px 12px 0 rgba(0,0,0,0.15);
    opacity:.8
}
.header-home>.title {
    font-size:4rem;
    margin:0 0 13px;
    color: black;
}
.header-home>.description {
    font-size:1.85rem;
    font-weight:300;
    font-style:normal;
    color:#aaa;
    width:70%;
    margin:0 auto 30px
}
.header-home>.description a {
    font-weight:200
}

.animated {
    animation:fade-in-down .6s;
    animation-delay:.3s;
    animation-fill-mode:both
}

.intro {
	margin-top: 24px;
	line-height: 1.6;
	background: #f2f2f7;
	border-radius: 8px;
    padding: 24px;
    font-size: 20px;
}

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	gap: 18px;
	margin-top: 20px
}

.card {
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f2f2f7;
	border-radius: 8px;
    transition: .15s background;
    position: relative;
}

.card:hover {
	background: rgba(0, 122, 255, .095)
}

.card:hover svg {
	fill: #007aff;
	transform: translate3d(0, -2px, 0)
}

.card svg {
	fill: #333;
	width: 48px;
	transition: .15s fill, .15s transform
}

.card img {
    width: 250px;
    border-radius: 8px;
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
	-o-filter: brightness(100%);
	-ms-filter: brightness(100%);
    filter: brightness(100%);
    transition:all .2s;
}

.card:hover img {
    -webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	-o-filter: brightness(70%);
	-ms-filter: brightness(70%);
    filter: brightness(70%);
}

h3 {
    opacity: 0;
    transition: .4s ease;
}

.card:hover h3 {
    opacity: 1;
}

h3 {
    color: white;
    text-shadow: 1px 1px 1px black;
    position: absolute;
    font-size: 98%;
    top: 35%;
    left:  52%;
    -webkit-transform: translate(-50%, -50%); /* iOS */
    transform: translate(-50%, -50%);
  }

.card>.linkedin svg {
    size: 110%;
}